/* ROOT */

:root {
  --primary-color: rgb(69, 111, 173);
}


/* animations */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: fade-in 0.5s;
}

p {
    font-weight: 650;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a:any-link {
    text-decoration: none;
    cursor: pointer;
}


/* NAV */

nav {
    display:flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;   
}

.nav-links {
    flex: 1;
    text-align: center;
    }

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* HERO */



.hero-container {
    height: 100dvh;
    background-color: white;
    color: black;
    
}

.hero-content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.hero-content h1 {
    color: var(--primary-color);
    letter-spacing: 0.25rem;
    font-style: bold;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 10%;
}


.hero-content img {
    width: 650px;
    height: auto;
}

.hero-btn {
    margin-top: 10%;
    border: 3px solid black;
    color: black;
    padding: 10px 40px;
    transition: 1s all ease;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    font-size: 2rem;
}

.hero-btn:hover {
    margin-top: 12%;
    background-color: black;
    color: white;
    transform: scale(1.15);
}



/* FEATURED */

.featured-container {
    padding: 25% 0 25%;
    text-align: center;
    background-color:black;
    color: white;
}

.featured-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25% 0 25%;
}


.featured-gallery {
    display: flex;
    flex-direction: column;
}


.featured-card {
    width: 75%;

}



