@import "tailwindcss";


/* VARIABLES */

:root {
  --primary: rgb(43, 79, 163);
}



/* HERO */

.custom-hero {
    padding: 100px 0;
}

.titles {
    margin: 5% 0 10%;
}

.yellow-title {
    color: var(--primary);
    margin-left: 1%;
}

.section-title {
    text-align: center;
    font-size: 40px;
    color: var(--primary);
    padding: 15px;
}

.simple-btn {
    padding: 5px;
    font-size: 24px;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    transition: all 0.5s ease;
    text-align: center;
}
.simple-btn {
    @apply w-100 md:w-40 xl:w-48;
}

.simple-btn:hover {
    background-color: white;
    color: black;
}
